{{> header timeline=true}}
<header class="timeline" data-parallax="img/timeline-header.jpg">
  <h1>Getting nostalgic</h1>
</header>
<section id="timeline">

  <h1>Some awards</h1>
  <p>These are works I'm proud of taking part in.</p>
  <ul class="awarded">
  {{#each awarded}}
  <li>
    <a href="{{link}}" style="background-image: url('img/timeline/{{picture}}')" target="_blank">
      <span class="name">{{name}} - {{brand}}</span>
    </a>
    <ul>
      {{#each awards}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
  </ul>
  
  <h1>Noteworthy</h1>
  <p class="intro">Other works that played an important role in my professional life.</p>
  <ul class="noteworthy">
  {{#each noteworthy}}
  <li style="background-image: url('img/timeline/{{picture}}')" {{#unless link}}class="disabled"{{/unless}}>
    {{#if link}}<a href="{{link}}" target="_blank">{{/if}}
    <span class="name">{{name}} - {{brand}}</span>
    {{#if link}}</a>{{/if}}
  </li>
  {{/each}}
  </ul>
</section>
{{> footer}}
