{{> header timeline=true}}
<header class="timeline animate">
  <h1>Getting nostalgic</h1>
</header>
<section id="timeline">

  <h1>Some awards</h1>
  <p class="intro">These are works I'm proud of taking part in.</p>
  <ul>
  {{#each awarded}}
  <li style="background-image: url('img/timeline/{{picture}}')" {{#unless link}}class="disabled"{{/unless}}>
    <a href="{{link}}" target="_blank">
      <span class="name">{{name}} - {{brand}}</span>
    </a>
    <span class="bottom">
      {{#each awards}}
      {{this}}{{#unless @last}},{{/unless}}
      {{/each}}
    </span>
  </li>
  {{/each}}
  </ul>
  
  <h1>Noteworthy</h1>
  <p class="intro">Other works that played an important role in my professional life.</p>
  <ul>
  {{#each noteworthy}}
  <li style="background-image: url('img/timeline/{{picture}}')" {{#unless link}}class="disabled"{{/unless}}>
    {{#if link}}<a href="{{link}}" target="_blank">{{/if}}
    <span class="name">{{name}} - {{brand}}</span>
    {{#if link}}</a>{{/if}}
  </li>
  {{/each}}
  </ul>
</section>
{{> footer}}
